extends layout

block content
  .registro-container
    h1(class='title') Registro

    form(action='/registrar-usuario' method='POST' class='registro-form')
      .form-group
        label(for='nombre' class='form-label') Nombre
        input(type='text' name='nombre' id='nombre' placeholder='Nombre completo' class='form-input', required)

      .form-group
        label(for='email' class='form-label') Email
        input(type='email' name='email' id='email' placeholder='Correo electrónico' class='form-input', required)

      .form-group
        label(for='password' class='form-label') Contraseña
        input(type='password' name='password' id='password' placeholder='Contraseña' class='form-input', required)

      .form-group
        label(for='confirmPassword' class='form-label') Confirmar Contraseña
        input(type='password' name='confirmPassword' id='confirmPassword' placeholder='Confirmar contraseña' class='form-input', required)

      .form-group
        button(type='submit' class='submit-button') Registrarse
